<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>A Bootstrap theme generator</h1>
      <p>Speeds up production and maintenance of Bootstrap themes. Includes the following:</p>
      <ul>
      	<li>Bootstrap 3.3.1 minified framework.</li>
      	<li><a href="http://nodejs.org/">Node.js</a> &amp; <a href="http://harpjs.com/">Harp.js</a> integration to generate theme.</li>
      	<li>LESS compiler built in with Harp.js</li>
      	<li>LESS variable &amp; mixin library.</li>
      	<li>Flat color palette.</li>
      	<li>Development build and production files.</li>
      </ul>

      <h3>Harp.js</h3>
      <p>Install Node and then Harp. Integration allows the following in theme:</p>
      <ul>
      	<li>Parital or include chunks of code.</li>
      	<li>Global variables.</li>
      	<li>Layout template files.</li>
      	<li>LESS compiler built in.</li>
      	<li>Localhost server built in using Node.</li>
      </ul>

      <h3>Dependancies</h3>
      <ul>
      	<li><a href="http://getbootstrap.com/">Bootstrap 3.3.1</a></li>
      	<li><a href="http://nodejs.org/">Node.js</a></li>
      	<li><a href="http://harpjs.com/">Harp.js</a></li>
      	<li><a href="http://lesscss.org/">Less</a></li>
      </ul>

      <p>Made in Vancouver by <a href="http://twitter.com/cardeo">@cardeo</a></p>
    </div>
  </div>
</div>